{
    "extends":[
       "airbnb",
       "airbnb/hooks"
    ],
    "plugins":[
       "react",
       "react-hooks"
    ],
    "parserOptions": {
      "ecmaVersion": 2020
    },
    "env":{
       "browser":true,
       "es6":true,
       "node":true,
       "jest":true
    },
    "rules":{
       "arrow-parens":[
          "error",
          "as-needed"
       ],
       "consistent-return": "off",
      "arrow-body-style": "off",
       "indent":[
          "error",
          2,
          {
             "ignoreComments":true,
             "SwitchCase":1
          }
       ],
       "implicit-arrow-linebreak": "off",
       "import/prefer-default-export":"off",
       "import/no-unresolved":"off",
       "max-len": ["warn", 240],
       "no-trailing-spaces":[
          "error",
          {
             "skipBlankLines":true
          }
       ],
       "object-curly-newline":"off",
       "operator-linebreak":"off",
       "padded-blocks":"off",
       "react/button-has-type":"off",
       "react/jsx-filename-extension":"off",
       "react/jsx-tag-spacing":[
          "error",
          {
             "closingSlash":"never",
             "beforeSelfClosing":"never",
             "afterOpening":"never"
          }
       ],
       "react/jsx-one-expression-per-line":"off",
       "react/jsx-props-no-spreading":"off"
    }
}